* {
    box-sizing: border-box;
    font-family: 'Noto Sans Hebrew', sans-serif !important;
    direction: rtl !important;
    line-height: 1 !important;
}

html,
body {
    margin: 0;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

ul {
    padding: 0;
    list-style-type: none;
}

#root {
    height: 100%;
}